// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/sensor-dev.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include "rk3566.dtsi"
#include "rk3568-android.dtsi"

/ {
	model = "Rockchip RK3566 RK817 TABLET XF8 LP4X Board";
	compatible = "rockchip,rk3566-rk817-tablet-xf8", "rockchip,rk3566";


	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm15 0 25000 0>;
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	};

	

	charge-animation {
		compatible = "rockchip,uboot-charge";
		rockchip,uboot-charge-on = <1>;
		rockchip,android-charge-on = <0>;
		rockchip,uboot-low-power-voltage = <3350>;
		rockchip,screen-on-voltage = <3400>;
		status = "disabled";
	};
      

	hdmi_sound: hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip,hdmi";
		status = "okay";

		simple-audio-card,cpu {
				sound-dai = <&i2s0_8ch>;
		};
		simple-audio-card,codec {
				sound-dai = <&hdmi>;
		};
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};
      
	vcc_camera: vcc-camera-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio3 RK_PB4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera_power>;
		regulator-name = "vcc_camera";
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};  

	rk817-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,rk817-codec";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,cpu {
			sound-dai = <&i2s1_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&rk817_codec>;
		};
	};
	motor: pwm-motor{
	    status = "okay";
	    compatible = "skysi, ts-gpio-control";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_motor>;
		
		tsgpio1-en-gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>;    
		tsgpio2-en-gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_HIGH>;   
		tsgpio3-en-gpios = <&gpio2 RK_PB2 GPIO_ACTIVE_HIGH>;    
		tsgpio4-en-gpios = <&gpio2 RK_PB6 GPIO_ACTIVE_HIGH>;    
		tsgpio5-en-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;  
		tsgpio6-en-gpios = <&gpio1 RK_PB0 GPIO_ACTIVE_HIGH>;    
		tsgpio7-en-gpios = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>; 
		tsgpio8-en-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>; 
		tsgpio9-en-gpios = <&gpio1 RK_PA0 GPIO_ACTIVE_HIGH>; 
		tsgpio10-en-gpios = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>; 
		tsgpio11-en-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>; 
		tsgpio12-en-gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_HIGH>; 
		tsgpio13-en-gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_HIGH>; 
		tsgpio14-en-gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>; 
		tsgpio15-en-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>; 
		tsgpio16-en-gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>; 
		tsgpio17-en-gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>; 
		tsgpio18-en-gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_HIGH>; 
		tsgpio19-en-gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>; 
		tsgpio20-en-gpios = <&gpio3 RK_PB5 GPIO_ACTIVE_HIGH>; 
		tsgpio21-en-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_HIGH>; 
		tsgpio22-en-gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>; 
		tsgpio23-en-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>; 
		tsgpio24-en-gpios = <&gpio3 RK_PC2 GPIO_ACTIVE_HIGH>; 
		tsgpio25-en-gpios = <&gpio3 RK_PC3 GPIO_ACTIVE_HIGH>; 
		tsgpio26-en-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>; 
		tsgpio27-en-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_HIGH>; 
		tsgpio28-en-gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>; 
		tsgpio29-en-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>; 
		tsgpio30-en-gpios = <&gpio3 RK_PD2 GPIO_ACTIVE_HIGH>; 
		tsgpio31-en-gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>; 
		tsgpio32-en-gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>; 
		tsgpio33-en-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>; 
		tsgpio34-en-gpios = <&gpio3 RK_PD6 GPIO_ACTIVE_HIGH>; 
		tsgpio35-en-gpios = <&gpio3 RK_PD7 GPIO_ACTIVE_HIGH>; 
		tsgpio36-en-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>; 
		tsgpio37-en-gpios = <&gpio4 RK_PA1 GPIO_ACTIVE_HIGH>; 
		tsgpio38-en-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>; 
		tsgpio39-en-gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>; 
		tsgpio40-en-gpios = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>; 
		tsgpio41-en-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>; 
		tsgpio42-en-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>; 
		tsgpio43-en-gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>; 
		tsgpio44-en-gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>; 
		tsgpio45-en-gpios = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>; 
        tsgpio46-en-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>; 
		tsgpio47-en-gpios = <&gpio4 RK_PB7 GPIO_ACTIVE_HIGH>; 
		tsgpio48-en-gpios = <&gpio4 RK_PC0 GPIO_ACTIVE_HIGH>; 
		tsgpio49-en-gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>; 
		tsgpio50-en-gpios = <&gpio4 RK_PC2 GPIO_ACTIVE_HIGH>; 
		tsgpio51-en-gpios = <&gpio4 RK_PC3 GPIO_ACTIVE_HIGH>; 
        tsgpio52-en-gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>; 
		tsgpio53-en-gpios = <&gpio4 RK_PC5 GPIO_ACTIVE_HIGH>; 
		tsgpio54-en-gpios = <&gpio4 RK_PC6 GPIO_ACTIVE_HIGH>; 
		tsgpio55-en-gpios = <&gpio2 RK_PA3 GPIO_ACTIVE_HIGH>; 
		tsgpio56-en-gpios = <&gpio2 RK_PA4 GPIO_ACTIVE_HIGH>; 
        tsgpio57-en-gpios = <&gpio2 RK_PA5 GPIO_ACTIVE_HIGH>; 
		tsgpio58-en-gpios = <&gpio2 RK_PA6 GPIO_ACTIVE_HIGH>; 
		tsgpio59-en-gpios = <&gpio2 RK_PA7 GPIO_ACTIVE_HIGH>; 
		tsgpio60-en-gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_HIGH>; 
        tsgpio61-en-gpios = <&gpio2 RK_PB4 GPIO_ACTIVE_HIGH>; 
		tsgpio62-en-gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_HIGH>; 
		tsgpio63-en-gpios = <&gpio2 RK_PB7 GPIO_ACTIVE_HIGH>; 
		tsgpio64-en-gpios = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>; 
		tsgpio65-en-gpios = <&gpio2 RK_PC2 GPIO_ACTIVE_HIGH>; 
        tsgpio66-en-gpios = <&gpio2 RK_PC3 GPIO_ACTIVE_HIGH>; 
		tsgpio67-en-gpios = <&gpio2 RK_PC4 GPIO_ACTIVE_HIGH>; 
		tsgpio68-en-gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>; 
		tsgpio69-en-gpios = <&gpio1 RK_PD7 GPIO_ACTIVE_HIGH>; 
		tsgpio70-en-gpios = <&gpio2 RK_PA0 GPIO_ACTIVE_HIGH>; 
		tsgpio71-en-gpios = <&gpio2 RK_PA1 GPIO_ACTIVE_HIGH>; 
		tsgpio72-en-gpios = <&gpio2 RK_PA2 GPIO_ACTIVE_HIGH>; 
	};
};

&combphy1_usq {
	rockchip,dis-u3otg1-port;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&hi846_out>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp0_in>;
			};
		};
	};
};

&dsi0 {
	status = "okay";
	rockchip,lane-rate = <1000>;
	panel@0 {
		compatible = "aoly,sl008pa21y1285-b00", "simple-panel-dsi";
		reg = <0>;

		backlight = <&backlight>;
		
		enable-gpios = <&gpio1 RK_PD6 GPIO_ACTIVE_HIGH>;
		
		reset-gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&lcd_enable_gpio>, <&lcd_rst_gpio>; // <&lcd_stanby_gpio>

		prepare-delay-ms = <120>;
		reset-delay-ms = <120>;
		init-delay-ms = <120>;
		stbyb-delay-ms = <120>;
		enable-delay-ms = <120>;
		disable-delay-ms = <120>;
		unprepare-delay-ms = <120>;

		width-mm = <229>;
		height-mm = <143>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
			      MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <4>;

		panel-init-sequence = [
			39 00 04 B9 F1 12 87
			39 00 04 B2 68 13 78
			39 00 0B B3 10 10 28 28 03 FF 00 00 00 00
			39 00 02 B4 80
			39 00 03 B5 08 08
			39 00 03 B6 7D 7D
			39 00 02 B8 75
			39 00 1C BA 33 81 05 F9 0E 0E 20 00 00 00 00 00 00 00 44 25 00 91 0A 00 00 01 4F 01 00 00 37
			39 00 02 BC 47
			39 00 04 BF 02 11 00
			39 00 0A C0 73 73 50 50 00 00 12 73 00
			39 00 12 C1 25 00 32 32 77 E1 77 77 CC CC FF FF 11 11 00 00 32
			39 00 0D C7 B0 00 0A 00 00 00 00 80 EC 47 00 5A
			39 00 05 C8 01 00 1E 43
			39 00 02 CC 0B
			39 00 03 D1 01 10
			39 00 23 E0 00 0A 0D 26 36 3F 42 35 08 0B 0C 13 14 13 14 11 18 00 0A 0D 26 36 3F 42 35 08 0B 0C 13 14 13 14 11 18
			39 00 08 E1 11 11 91 00 00 00 00
			39 00 0F E3 03 03 03 03 00 03 00 00 00 00 FF 84 C0 10
			39 00 40 E9 C8 10 08 00 00 A0 51 12 31 23 47 86 A0 51 47 08 00 00 60 00 00 00 00 00 60 00 00 00 88 88 80 2F 88 88 88 88 8F 46 02 88 88 81 3F 88 88 88 88 8F 57 13 00 00 00 00 00 00 00 00 00 00 00 00 00
			39 00 3E EA 00 1A 00 00 00 00 02 00 00 00 00 00 8F 88 83 18 88 88 88 88 8F 31 75 8F 88 82 08 88 88 88 88 8F 20 64 23 10 00 00 A8 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
			
			05 78 01 11
			05 32 01 29
		];

		panel-exit-sequence = [
			05 dc 01 28
			05 78 01 10
		];

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <75000000>;
				hactive = <720>;
				vactive = <1440>;

				hsync-len = <20>;//19
				hback-porch = <55>;//40
				hfront-porch = <50>;//123

				vsync-len = <6>;
				vback-porch = <14>;
				vfront-porch = <17>;

				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};

};

&dsi0_in_vp0 {
	status = "okay";
};

&dsi0_in_vp1 {
	status = "disabled";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmi_in_vp1 {
	status = "disabled";
};

&hdmi_sound {
	status = "disabled";
};


&i2c0 {
	status = "okay";

	vdd_cpu: tcs4525@1c {
		compatible = "tcs,tcs452x";
		reg = <0x1c>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "fan53555-reg";
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1390000>;
		regulator-init-microvolt = <900000>;
		regulator-ramp-delay = <2300>;
		fcs,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	rk817: pmic@20 {
		compatible = "rockchip,rk817";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

		//pinctrl-names = "default", "pmic-sleep",
		//		"pmic-power-off", "pmic-reset";
		
		pinctrl-names = "default";
		
		

		pinctrl-0 = <&pmic_int>;
		//pinctrl-1 = <&soc_slppin_slp>, <&rk817_slppin_slp>;
		//pinctrl-2 = <&soc_slppin_gpio>, <&rk817_slppin_pwrdn>;
		//pinctrl-3 = <&soc_slppin_gpio>, <&rk817_slppin_rst>;
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		clock-output-names = "rk808-clkout1", "rk808-clkout2";
		//fb-inner-reg-idxs = <2>;
		/* 1: rst regs (default in codes), 0: rst the pmic */
		pmic-reset-func = <0>;

		vcc1-supply = <&vcc5v0_sys>;
		vcc2-supply = <&vcc5v0_sys>;
		vcc3-supply = <&vcc5v0_sys>;
		vcc4-supply = <&vcc5v0_sys>;
		vcc5-supply = <&vcc5v0_sys>;
		vcc6-supply = <&vcc5v0_sys>;
		vcc7-supply = <&vcc5v0_sys>;
		vcc8-supply = <&vcc5v0_sys>;
		vcc9-supply = <&dcdc_boost>;

		pwrkey {
			status = "okay";
		};

		pinctrl_rk8xx: pinctrl_rk8xx {
			gpio-controller;
			#gpio-cells = <2>;

			rk817_slppin_null: rk817_slppin_null {
				pins = "gpio_slp";
				function = "pin_fun0";
			};

			rk817_slppin_slp: rk817_slppin_slp {
				pins = "gpio_slp";
				function = "pin_fun1";
			};

			rk817_slppin_pwrdn: rk817_slppin_pwrdn {
				pins = "gpio_slp";
				function = "pin_fun2";
			};

			rk817_slppin_rst: rk817_slppin_rst {
				pins = "gpio_slp";
				function = "pin_fun3";
			};
		};

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_logic";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_gpu";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_ddr";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_3v3: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_3v3";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pmu: LDO_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda_0v9";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda0v9_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_acodec: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_acodec";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_sd";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc_1v8: LDO_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc1v8_dvp: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc2v8_dvp: LDO_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-name = "vcc2v8_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			dcdc_boost: BOOST {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <4700000>;
				regulator-max-microvolt = <5400000>;
				regulator-name = "boost";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			otg_switch: OTG_SWITCH {
				regulator-name = "otg_switch";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};

		battery {
			compatible = "rk817,battery";
			ocv_table = <3400 3513 3578 3687 3734 3752 3763
				     3766 3771 3784 3804 3836 3885 3925
				     3962 4005 4063 4114 4169 4227 4303>;
			design_capacity = <5000>;
			design_qmax = <5500>;
			bat_res = <100>;
			sleep_enter_current = <150>;
			sleep_exit_current = <180>;
			sleep_filter_current = <100>;
			power_off_thresd = <3450>;
			zero_algorithm_vol = <3850>;
			max_soc_offset = <60>;
			monitor_sec = <5>;
			sample_res = <10>;
			virtual_power = <0>;
            status = "disabled";
		};

		charger {
			compatible = "rk817,charger";
			min_input_voltage = <4500>;
			max_input_current = <1500>;
			max_chrg_current = <2000>;
			max_chrg_voltage = <4300>;
			chrg_term_mode = <0>;
			chrg_finish_cur = <300>;
			virtual_power = <0>;
			dc_det_adc = <0>;
			extcon = <&usb2phy0>;
            status = "disabled";
		};

		rk817_codec: codec {
			#sound-dai-cells = <0>;
			compatible = "rockchip,rk817-codec";
			clocks = <&cru I2S1_MCLKOUT>;
			clock-names = "mclk";
			assigned-clocks = <&cru I2S1_MCLKOUT>, <&cru I2S1_MCLK_TX_IOE>;
			assigned-clock-rates = <12288000>;
			assigned-clock-parents = <&cru I2S1_MCLKOUT_TX>, <&cru I2S1_MCLKOUT_TX>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2s1m0_mclk>;
			hp-volume = <20>;
			spk-volume = <0x6f>;
			out-l2spk-r2hp;
			spk-ctl-gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
			status = "okay";
		};
	};
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2m1_xfer>;

	dw9714: dw9714@c {
		compatible = "dongwoon,dw9714";
		status = "okay";
		reg = <0x0c>;
		rockchip,camera-module-index = <0>;
		rockchip,vcm-start-current = <10>;
		rockchip,vcm-rated-current = <85>;
		rockchip,vcm-step-mode = <5>;
		rockchip,camera-module-facing = "back";
	};

	hi846: hi846@23 {
		status = "okay";
		compatible = "hynix,hi846";
		reg = <0x23>; 
		clocks = <&cru CLK_CAM0_OUT>; 
		clock-names = "xvclk"; 
		power-domains = <&power RK3568_PD_VI>;
		pinctrl-names = "rockchip,camera_default", "rockchip,camera_sleep";
		pinctrl-0 = <&cam_clkout0>;
		reset-gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;  //CAMERAB_RST_L
		//pwdn-gpios = <&gpio3  RK_PD0  GPIO_ACTIVE_HIGH>; //CAMERAB_PDN_L 
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "KYT-8648-V1";
		rockchip,camera-module-lens-name = "SKYSI";
		lens-focus = <&dw9714>;
		port {
			hi846_out: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};





&i2s1_8ch {
	status = "okay";
	rockchip,clk-trcm = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m0_sclktx
		     &i2s1m0_lrcktx
		     &i2s1m0_sdi0
		     &i2s1m0_sdo0>;
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&video_phy0 {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&nandc0 {
	status = "okay";
};


&pmu_io_domains {
	status = "okay";
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcca1v8_pmu>;
	vccio1-supply = <&vccio_acodec>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_3v3>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_3v3>;
	vccio7-supply = <&vcc_3v3>;
};



&rk_rga {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&csidphy0_out>;
		};
	};
};

&rkvdec {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&route_dsi0 {
	status = "okay";
};

&route_hdmi {
	status = "okay";
	connect = <&vp0_out_hdmi>;
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8>;
};

&sdhci {
	bus-width = <8>;
	supports-emmc;
	non-removable;
	max-frequency = <200000000>;
	status = "okay";
};




&tsadc {
	status = "okay";
};

&u2phy0_host {
//	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&u2phy1_host {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};
&usbdrd_dwc3 {
	dr_mode = "otg";
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

&usbhost_dwc3 {
	phys = <&u2phy0_host>;
	phy-names = "usb2-phy";
	maximum-speed = "high-speed";
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&pwm15 {
	status = "okay";
	pinctrl-0 = <&pwm15m0_pins>;
};


&pinctrl {
	cam {
		cam_clkout0: cam-clkout0 {
			rockchip,pins =
				/* cam_clkout0 */
				<4 RK_PA7 1 &pcfg_pull_none>;
		};

		camera_power: camera-power {
			rockchip,pins =
				<3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lcd {
		lcd_rst_gpio: lcd-rst-gpio {
			rockchip,pins = <0 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		lcd_enable_gpio: lcd-enable-gpio {
			rockchip,pins = <1 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pmic {
		pmic_int: pmic_int {
			rockchip,pins =
				<0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		soc_slppin_gpio: soc_slppin_gpio {
			rockchip,pins =
				<0 RK_PA2 RK_FUNC_GPIO &pcfg_output_low_pull_down>;
		};

		soc_slppin_slp: soc_slppin_slp {
			rockchip,pins =
				<0 RK_PA2 1 &pcfg_pull_up>;
		};

		soc_slppin_rst: soc_slppin_rst {
			rockchip,pins =
				<0 RK_PA2 2 &pcfg_pull_none>;
		};
	};

	motoren{
		pinctrl_motor:pinctrl_motor{
			rockchip,pins = 
			<2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>,
			<0 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
			<1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>,
			<1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>,
			<1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
			<1 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
			<1 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>,
            <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>,
			<3 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>,
			<4 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>,
			<1 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>,
			<2 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
			
			
		
			
			
			
			
			

			
			
			
			



			
			
			

			
		
			
			

			
			
			
			
			
		
		};
	};


};