// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3568-evb-lp4x-s1-v10.dtsi"
#include "rk3568-android.dtsi"
/{
	model = "Rockchip RK3568 LP4X SKYSI IOT V10 Board";
	compatible = "rockchip,rk3568-iot-lp4x-s1-v10-lvds-rk628-gvi", "rockchip,rk3568";
};

&backlight {
	enable-gpios = <&gpio0 RK_PC1 GPIO_ACTIVE_HIGH>;
};

&backlight1 {
	enable-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
};


&vcc3v3_lcd1_n {
	gpio = <&gpio0 RK_PD4 GPIO_ACTIVE_HIGH>;
};

&pwm5 {
	status = "okay";
};

/*
 * video_phy0 needs to be enabled
 * when dsi0 is enabled
 */
&dsi0 {
	status = "okay";
};

&dsi0_in_vp0 {
	status = "disabled";
};

&dsi0_in_vp1 {
	status = "okay";
};

&dsi0_panel {
	power-supply = <&vcc3v3_lcd0_n>;
	reset-gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;
	prepare-delay-ms = <2>;
	reset-delay-ms = <5>;
	init-delay-ms = <2>;

	panel-init-sequence = [
		23 00 02 27 AA
		23 00 02 48 02
		23 00 02 B6 20
		23 00 02 01 80
		23 00 02 02 38
		23 00 02 03 47
		23 00 02 04 58
		23 00 02 05 2C
		23 00 02 06 94
		23 00 02 07 00
		23 00 02 08 04
		23 00 02 09 05
		23 00 02 0A 24
		23 00 02 0B 82
		23 00 02 0C 13
		23 00 02 0D 01
		23 00 02 0E 80
		23 00 02 0F 20
		23 00 02 10 20
		23 00 02 11 03
		23 00 02 12 1B
		23 00 02 13 63
		23 00 02 14 01
		23 00 02 15 23
		23 00 02 16 40
		23 00 02 17 00
		23 00 02 18 01
		23 00 02 19 23
		23 00 02 1A 40
		23 00 02 1B 00
		23 00 02 1E 46
		23 00 02 51 30
		23 00 02 1F 10
		23 00 02 2A 01
		23 00 02 3F AA
		23 00 02 41 0d
		23 00 02 42 d6
		23 00 02 3F BB
		23 00 02 41 0d
		23 00 02 42 d6
		23 00 02 6A 08
		23 00 02 6C 9E
		23 00 02 6D 07
		23 00 02 6E 00
		23 00 02 6F 8A
		23 00 02 70 19
		23 18 02 71 00
	];

	disp_timings0: display-timings {
		native-mode = <&dsi0_timing0>;
		dsi0_timing0: timing0 {
			clock-frequency = <148500000>;
			hactive = <1920>;
			vactive = <1080>;
			hfront-porch = <88>;
			hsync-len = <44>;
			hback-porch = <148>;
			vfront-porch = <4>;
			vsync-len = <5>;
			vback-porch = <36>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <0>;
			pixelclk-active = <0>;
		};
	};
};

&route_dsi0 {
	status = "okay";
	connect = <&vp1_out_dsi0>;
};


&route_hdmi {
	status = "okay";
	connect = <&vp0_out_hdmi>;
};

&hdmi {
	status = "okay";
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmi_in_vp1 {
	status = "disabled";
};


&i2c3 {
	clock-frequency = <100000>;
	status = "okay";

    rk628_csi_v4l2: rk628_csi_v4l2@50 {
		/* csi->csi:rk628-csi-v4l2 dsi->csi:rk628-dsi-v4l2 */
		compatible = "rockchip,rk628-csi-v4l2";
		reg = <0x50>;
		//clocks = <&ext_cam_clk>;
		//clock-names = "xvclk";
		interrupt-parent = <&gpio4>;
		interrupts = <RK_PC3 IRQ_TYPE_LEVEL_LOW>;   
		pinctrl-names = "default";
		pinctrl-0 = <&rk628_irq &rk628_det>;
		//hdcp-enable = <1>;
		//power-gpios = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio0 RK_PD6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_LOW>;
		plugin-det-gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RK628-CSI";
		rockchip,camera-module-lens-name = "NC";
		port {
			rk628_out: endpoint {
				remote-endpoint = <&hdmi2mipi_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};		

   rk628: rk628@51 {
		status = "okay";
		compatible = "rockchip,rk628";
		reg = <0x51>;
		power-supply = <&vcc3v3_lcd1_n>;
		interrupt-parent = <&gpio2>;
		interrupts = <RK_PD2 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpios = <&gpio2 RK_PD1 GPIO_ACTIVE_LOW>;
		enable-gpios = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		panel-backlight = <&backlight1>;
		pinctrl-names = "default";
		pinctrl-0 = <&refclk_pins>;
		assigned-clocks = <&pmucru CLK_WIFI>;
		assigned-clock-rates = <24000000>;
		clocks = <&pmucru CLK_WIFI>;
		clock-names = "soc_24M";

		rk628,hdmi-in;
		src-mode-4k-yuv420;

		rk628-gvi {
			/* "rgb666"
			 * "rgb888"
			 * "rgb101010"
			 * "yuyv8"
			 * "yuyv10"
			 */
			bus-format = "rgb888";
			gvi,lanes = <8>;
			rockchip,division-mode;
			//"rockchip, gvi-frm-rst";
			status = "okay";
		};

		display-timings {
			src-timing {
				clock-frequency = <148500000>;
				hactive = <1920>;
				vactive = <1080>;
				hback-porch = <148>;
				hfront-porch = <88>;
				vback-porch = <36>;
				vfront-porch = <4>;
				hsync-len = <44>;
				vsync-len = <5>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};

			dst-timing {
				clock-frequency = <594000000>;
				hactive = <3840>;
				vactive = <2160>;
				hback-porch = <308>;
				hfront-porch = <164>;
				hsync-len = <88>;
				vback-porch = <72>;
				vfront-porch = <8>;
				vsync-len = <10>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};




&mipi_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
			data-lanes = <1 2 3 4>;
		};
	};
};



&rkcif_mmu {
	status = "okay";
};

&rkcif_dvp_sditf {
	status = "disabled";
};

&rkcif {
	status = "okay";
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			hdmi2mipi_in: endpoint@0 {
				reg = <1>;
				remote-endpoint = <&rk628_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&rkisp {
	status = "disabled";
};

&rkisp_mmu {
	status = "disabled";
};

&rkisp_vir0 {
	status = "disabled";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&csidphy_out>;
		};
	};
};




&pinctrl {
	rk628-csi {
		rk628_irq: rk628-irq {
			rockchip,pins = <4 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		rk628_det: rk628-det {
			rockchip,pins = <3 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};