// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3568-evb-lp4x-s1-v10.dtsi"
#include "rk3568-android.dtsi"
/{
	model = "Rockchip RK3568 LP4X SKYSI IOT V10 Board";
	compatible = "rockchip,rk3568-iot-lp4x-s1-v10-rk628-gvi", "rockchip,rk3568";
};

&backlight {
	pwms = <&pwm5 0 5000000 1>;
	enable-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
};

&backlight1 {
	pwms = <&pwm4 0 25000 0>;
};

&vcc3v3_lcd1_n {
	gpio = <&gpio0 RK_PD4 GPIO_ACTIVE_HIGH>;
};

&pwm5 {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmi_in_vp1 {
	status = "disabled";
};

&route_hdmi {
	status = "okay";
	connect = <&vp0_out_hdmi>;
};

&i2c3 {
	clock-frequency = <100000>;
	status = "okay";

    rk628: rk628@51 {
		status = "okay";
		compatible = "rockchip,rk628";
		reg = <0x51>;
		power-supply = <&vcc3v3_lcd1_n>;
		interrupt-parent = <&gpio2>;
		interrupts = <RK_PD2 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpios = <&gpio2 RK_PD1 GPIO_ACTIVE_LOW>;
		enable-gpios = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		panel-backlight = <&backlight>;
		pinctrl-names = "default";
		pinctrl-0 = <&refclk_pins>;
		assigned-clocks = <&pmucru CLK_WIFI>;
		assigned-clock-rates = <24000000>;
		clocks = <&pmucru CLK_WIFI>;
		clock-names = "soc_24M";

		rk628,hdmi-in;
		src-mode-4k-yuv420;

		rk628-gvi {
			/* "rgb666"
			 * "rgb888"
			 * "rgb101010"
			 * "yuyv8"
			 * "yuyv10"
			 */
			bus-format = "rgb888";
			gvi,lanes = <8>;
			rockchip,division-mode;
			//"rockchip, gvi-frm-rst";
			status = "okay";
		};

		display-timings {
			src-timing {
				clock-frequency = <148500000>;
				hactive = <1920>;
				vactive = <1080>;
				hback-porch = <148>;
				hfront-porch = <88>;
				vback-porch = <36>;
				vfront-porch = <4>;
				hsync-len = <44>;
				vsync-len = <5>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};

			dst-timing {
				clock-frequency = <594000000>;
				hactive = <3840>;
				vactive = <2160>;
				hback-porch = <308>;
				hfront-porch = <164>;
				hsync-len = <88>;
				vback-porch = <72>;
				vfront-porch = <8>;
				vsync-len = <10>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};
