// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3568-evb-lp4x-s1-v10.dtsi"
#include "rk3568-android.dtsi"
/{
	model = "Rockchip RK3568 LP4X SKYSI IOT V10 Board";
	compatible = "rockchip,rk3568-iot-lp4x-s1-v10-edp", "rockchip,rk3568";

	vcc3v3_lcd0_n: vcc3v3-lcd0-n {
		gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
	};

	edp-panel {
		compatible = "simple-panel";
		backlight = <&backlight>;
		power-supply = <&vcc3v3_lcd0_n>;
		prepare-delay-ms = <120>;
		enable-delay-ms = <10>;
		disable-delay-ms = <20>;
		unprepare-delay-ms = <50>;
		init-delay-ms = <10>;

		port {
			panel_in_edp: endpoint {
				remote-endpoint = <&edp_out_panel>;
			};
		};
	};
};

&backlight {
	enable-gpios = <&gpio0 RK_PC1 GPIO_ACTIVE_HIGH>;
};

&edp {
	force-hpd;
	status = "okay";

	ports {
		port@1 {
			reg = <1>;

			edp_out_panel: endpoint {
				remote-endpoint = <&panel_in_edp>;
			};
		};
	};
};

&edp_phy {
	status = "okay";
};

&edp_in_vp0 {
	status = "disabled";
};

&edp_in_vp1 {
	status = "okay";
};

&route_edp {
	connect = <&vp1_out_edp>;
	status = "okay";
};



&i2c3 {
	clock-frequency = <100000>;
	status = "okay";

    rk628_csi_v4l2: rk628_csi_v4l2@50 {
		/* csi->csi:rk628-csi-v4l2 dsi->csi:rk628-dsi-v4l2 */
		compatible = "rockchip,rk628-csi-v4l2";
		reg = <0x50>;
		//clocks = <&ext_cam_clk>;
		//clock-names = "xvclk";
		interrupt-parent = <&gpio4>;
		interrupts = <RK_PC3 IRQ_TYPE_LEVEL_LOW>;   
		pinctrl-names = "default";
		pinctrl-0 = <&rk628_irq &rk628_det>;
		//hdcp-enable = <1>;
		//power-gpios = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio0 RK_PD6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_LOW>;
		plugin-det-gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RK628-CSI";
		rockchip,camera-module-lens-name = "NC";
		port {
			rk628_out: endpoint {
				remote-endpoint = <&hdmi2mipi_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};		
};	


&mipi_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
			data-lanes = <1 2 3 4>;
		};
	};
};



&rkcif_mmu {
	status = "okay";
};

&rkcif_dvp_sditf {
	status = "disabled";
};

&rkcif {
	status = "okay";
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			hdmi2mipi_in: endpoint@0 {
				reg = <1>;
				remote-endpoint = <&rk628_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&rkisp {
	status = "disabled";
};

&rkisp_mmu {
	status = "disabled";
};

&rkisp_vir0 {
	status = "disabled";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&csidphy_out>;
		};
	};
};


&pinctrl {
	rk628-csi {
		rk628_irq: rk628-irq {
			rockchip,pins = <4 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		rk628_det: rk628-det {
			rockchip,pins = <3 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
