// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3568-evb-lp4x-s1-v12.dtsi"
#include "rk3568-android.dtsi"
/{
	model = "Rockchip RK3568 LP4X SKYSI IOT V12 Board";
	compatible = "rockchip,rk3568-iot-lp4x-s1-v12-rk628-gvi", "rockchip,rk3568";
};

&sky_key{
	dpi = "240";
	vertical-dpi = "140";
	persist.vendor.framebuffer.main = "1920x1080@60";
	status = "okay";
};

&backlight1 {
	enable-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
};

&vcc3v3_lcd1_n {
	gpio = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>;
};

&pwm5 {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmi_in_vp1 {
	status = "disabled";
};

&route_hdmi {
	status = "okay";
	logo,uboot = "logo.bmp";
	logo,kernel = "logo.bmp";
	connect = <&vp0_out_hdmi>;
	force-bus-format = <0x101e>;
	force-output;
	force_timing{
		clock-frequency = <148500000>;
		hactive = <1920>;
		vactive = <1080>;
		hback-porch = <154>;
		hfront-porch = <82>;
		hsync-len = <44>;
		vback-porch = <36>;
		vfront-porch = <4>;
		vsync-len = <5>;
		hsync-active = <1>;
		vsync-active = <1>;
		de-active = <0>;
		pixelclk-active = <0>;
	};
};

&i2c3 {
	clock-frequency = <400000>;
	status = "okay";

    rk628: rk628@51 {
		status = "okay";
		compatible = "rockchip,rk628";
		reg = <0x51>;
		interrupt-parent = <&gpio2>;
		interrupts = <RK_PD2 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpios = <&gpio2 RK_PD1 GPIO_ACTIVE_LOW>;
		enable-gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&refclk_pins>;
		assigned-clocks = <&pmucru CLK_WIFI>;
		assigned-clock-rates = <24000000>;
		clocks = <&pmucru CLK_WIFI>;
		clock-names = "soc_24M";

		power-supply = <&vcc3v3_lcd1_n>;
		panel-backlight = <&backlight1>;
		panel-prepare-delay-ms = <5>;
		panel-enable-delay-ms = <500>;
		panel-disable-delay-ms = <50>;
		panel-unprepare-delay-ms = <50>;
		panel-reset-delay-ms = <0>;
		panel-init-delay-ms = <5>;

		rk628,hdmi-in;
		//src-mode-4k-yuv420;

		rk628-gvi {
			/* "rgb666"
			 * "rgb888"
			 * "rgb101010"
			 * "yuyv8"
			 * "yuyv10"
			 */
			bus-format = "rgb888";
			gvi,lanes = <8>;
			rockchip,division-mode;
			//rockchip,gvi-frm-rst;
			status = "okay";
		};

		display-timings {
			src-timing {
				clock-frequency = <148500000>;
				hactive = <1920>;
				vactive = <1080>;
				hback-porch = <154>;
				hfront-porch = <82>;
				hsync-len = <44>;
				vback-porch = <36>;
				vfront-porch = <4>;
				vsync-len = <5>;
				hsync-active = <1>;
				vsync-active = <1>;
				de-active = <0>;
				pixelclk-active = <0>;
			};

			dst-timing {
				clock-frequency = <594000000>;
				hactive = <3840>;
				vactive = <2160>;
				hback-porch = <308>;
				hfront-porch = <164>;
				hsync-len = <88>;
				vback-porch = <72>;
				vfront-porch = <8>;
				vsync-len = <10>;
				hsync-active = <1>;
				vsync-active = <1>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};

