menu "RK628 misc driver"
config RK628_MISC
	bool "rk628 misc driver"
	default y
	help
	  Say y here to enable Rockchip rk628 thunder boot support.
          This option is used to support rgb/hdmi/bt1120 input and dsi/lvds/gvi/hdmi output

config ROCKCHIP_THUNDER_BOOT_RK628
	bool "Rockchip RK628 Thunder Boot support"
	default y
	help
	  Say y here to enable Rockchip rk628 thunder boot support.
	  This option make the kernel boot faster.

endmenu
